.container {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  @include flex();
}

h1,
h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  display: inline-block;
}

.dark-bg {
  color: $light-gray;
}
