@import './config';

/*** BASE STYLES***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $light-gray;
  font-family: 'karla', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

@import './utilities';

/*** GRID COMPONENT ***/

@import './grid-component';

/*** ATTRIBUTION ***/

.attribution {
  p {
    font-size: 0.8rem;
    color: darken($grayish-blue, 50%);
  }

  a {
    color: $primary-color;
  }
}
